<article class="uk-article uk-border-rounded" ng-repeat="post in posts">
    <a href="posts/{{ post.slug }}" class="uk-hidden-small">
		<figure class="uk-overlay">
		    <img src="{{ post.image }}" alt="{{ post.title }}">
		    <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom">
		    	<h3 class="uk-article-title">
		        	<a href="posts/{{ post.slug }}">{{ post.title }}</a>
		    	</h3>
		    </figcaption>
		</figure>
	</a>
    <a href="posts/{{ post.slug }}" class="uk-visible-small">
    	<img src="{{ post.image }}" alt="{{ post.title }}">
    </a>
	<div class="uk-panel-box uk-block-default">

	    <h3 class="uk-article-title uk-text-primary uk-visible-small">
	        <a href="posts/{{ post.slug }}">{{ post.title }}</a>
	    </h3>

	    <div class="post-excerpt">{{ post.excerpt }}</div>
	</div>

	<ng-include src="'templates/posts/meta.html'"></ng-include>
</article>