<div class="uk-panel-box box-meta">
    <p class="uk-article-meta">
        <i class="uk-icon-calendar"></i>
        <span am-time-ago="post.created_at.date"></span>
        &nbsp;
        in
        <span ng-if="post.terms.category">
            <a href="category/{{ categorySlug }}"
                ng-repeat="(categorySlug, categoryName) in post.terms.category">
                <i class="uk-icon-folder-open"></i> {{ categoryName }}
            </a>
        </span>
    </p>
    <p class="uk-article-meta" ng-if="post.terms.tag">Tagged:
    	<a href="tag/{{ termSlug }}"
    		ng-repeat="(termSlug, termName) in post.terms.tag">
    		<i class="uk-icon-tags"></i> {{ termName }}{{ $last ? '' : ', ' }}</a>
    </p>
</div>